* {
    box-sizing: border-box
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face{
    font-family: 'senac1';
    src: url("/public/assets/fonts/senac1.woff2")
}
@font-face{
    font-family: 'senac2';
    src: url("/public/assets/fonts/senac2.woff2")
}
@font-face{
    font-family: 'senac3';
    src: url("/public/assets/fonts/senac3.woff2")
}
@font-face{
    font-family: 'senac4';
    src: url("/public/assets/fonts/senac4.woff2")
}
@font-face{
    font-family: 'senac5';
    src: url("/public/assets/fonts/senac5.woff2")
}
@font-face{
    font-family: 'senac6';
    src: url("/public/assets/fonts/senac6.woff2")
}
@font-face{
    font-family: 'senac7';
    src: url("/public/assets/fonts/senac7.woff2")
}
@font-face{
    font-family: 'senac8';
    src: url("/public/assets/fonts/senac8.woff2")
}
@font-face{
    font-family: 'senac9';
    src: url("/public/assets/fonts/senac9.woff2")
}
@font-face{
    font-family: 'senac10';
    src: url("/public/assets/fonts/senac10.woff2")
}
